# Bot
BOT_TOKEN=8237297828:AA...

# logger
LOG_LEVEL=INFO
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"
LOG_ENCODING=utf-8

# DataBase
DATABASE_PATH=database/...
BOOK_PATH=database/...